*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-dark;
  font-family: $font-global;
  font-weight: $font-regular;
  color: $color-light;
}

.pages {
  padding-top: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.page-title{
  font-size: 60px;
  text-align: center;
  font-weight: $font-middle;
  letter-spacing: 10px;
  color: $color-medium;
}

.page-subtitle{
  margin: 70px 0;
  font-size: 30px;
  font-weight: $font-middle;
  text-align: center;
}

footer{
  margin-top: 50px;
  text-align: center;
  font-weight: $font-regular;
  font-size: 20px;
}


  