/* Variables */
$color-dark: #131313;
$color-light: #FFF;
$color-medium: #bfbfbf;
$color-main: #cf383e;

$font-global: 'Source+Sans+Pro', sans-serif;

$font-regular: 400;
$font-middle: 600;
$font-bold: 700;
$font-black: 900;


$transition: all .3s;