.subscribe{
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-image: url('../../images/subscribe.jpg');
  background-size: cover;
  position: relative;
  text-align: center;
}

.subscribe-title{
  @extend .h1;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: -110px;
  text-transform: uppercase;
  letter-spacing: 35px;

  span{
    font-weight: $font-bold;
    margin-right: 30px;
  }
}

.row{
  display: flex;
  width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.subscribe-button {
  margin-top: 550px;
  flex: 1;
    

  a{
        
    display: block;
    width: 313px;
    height: 133px;
    background-color: $color-main;
    color: $color-light;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 13px;
    font-weight: $font-bold;
    text-align: center;
    border-radius: 5px;
    padding-top: 45px;
  }
}

.album{  
  flex: 2;
  font-size: 66px;
  font-weight: $font-black;
  text-align: right;
  position: relative;
  max-width: 800px;
  display: inline-block;
    
    
  .album-title{
    @extend .h1;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 110px;

    p:nth-child(2){
      margin-top: -70px;
      margin-left: 90px;
            
      span{
        color: $color-main;
      }
    }
        
  }

  .album-image{
    position: absolute;
    width: 465px;
    height: 578px;
    z-index: -1;
    margin: 0 auto;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }

  .album-subtitle{
    position: absolute;
    top: 77%;
    left: 10%;
    transform: translateX(30%);
    font-size: 40px;
    font-weight: $font-regular;
    letter-spacing: 5px;
       
    p:nth-child(1){
      color: $color-medium;
      text-transform: uppercase;
      margin-bottom: -40px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .subscribe{
    width: 100%;
    min-height: 300px;
    height: 100vh;
    background-size: cover;
    background-position: left;
    position: relative;
  }

  .subscribe-title{
    font-size: 40px;
    letter-spacing: 10px;
    top: -35px;
    position: absolute;
  }

  .row{
    width: 700px;
    display: flex;
  }

  .subscribe-button {
    top: 70%;
    flex: 1;
    

    a{
      margin-top: -100px;
      display: block;
      width: 200px;
      height: 80px;
      font-size: 16px;
      letter-spacing: 3px;
      font-weight: $font-bold;
      padding-top: 25px;
    }
  }

  .album{  
    flex: 2;
    font-size: 30px;
    position: relative;
    max-width: 700px;
    display: inline-block;
    
    
    .album-title{
      font-size: 50px;
      letter-spacing: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 50px;

      p:nth-child(2){
        margin-top: -50px;
        margin-left: 50px;
            
        span{
          color: $color-main;
        }
      }
        
    }

    .album-image{
      position: absolute;
      width: 383px;
      height: 473px;
      z-index: -1;
      margin: 0 auto;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }

    .album-subtitle{
      position: absolute;
      top: 75%;
      left: -20%;
      transform: translateX(20%);
      font-size: 30px;
      font-weight: $font-regular;
      letter-spacing: 3px;
       
      p:nth-child(1){
        color: $color-medium;
        text-transform: uppercase;
        margin-bottom: -20px;
      }
    }
  }
}